<ul>
  <li><a class="btn-text" href="/register">Sign Up</a></li>

  <li><a class="btn-text" href="/login">Login</a></li>

  <li><a class="btn-text" href="/logout">Log out</a></li>

</ul>

</div>
</main>
</body>
</html>